* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#game {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;

  .sky {
    position: relative;

    #boat {
      width: 5vw;
      height: 3vh;
      background: brown;
      position: absolute;
      bottom: -1vh;
      left: 0px;
      border-bottom-right-radius: 2.5vw;
      border-bottom-left-radius: 2.5vw;
      display: inline-block;
      transition: left 500ms cubic-bezier(0, 0, 0.2, 1);
    }
  }
  #water {
    height: 80vh;
    background: linear-gradient(rgba(100, 100, 200, 0.9), rgba(4, 4, 55, 0.9));
    position: relative;
    overflow: hidden;

    .fish {
      position: absolute;
    }
  }
  .wave-container {
    position: absolute;
    bottom: 75.7vh;
    width: 100%;
    height: 2.604vw;
    overflow: hidden;
    background: transparent;
    z-index: 1;

    .wave-base,
    .water-wave {
      position: absolute;
      bottom: 0px;
      background: rgba(100, 100, 200, 0.9);
    }
    .wave-base {
      width: 100%;
      height: 2.083vw;
      -webkit-animation: shrinking 4s infinite linear;
      -moz-animation: shrinking 4s infinite linear;
      animation: shrinking 4s infinite linear;
    }

    .water-wave {
      width: 250%;
      height: 2.604vw;
      border-radius: 100%;
      -webkit-animation: waving 4s infinite linear;
      -moz-animation: waving 4s infinite linear;
      animation: waving 4s infinite linear;
    }
  }
}

@keyframes swimAcrossRight {
  0% {
    transform: translateX(-10vw);
  }
  100% {
    transform: translateX(110vw);
  }
}

@keyframes waving {
  0% {
    transform: translateX(-100%);
    height: 2.604vw;
  }
  100% {
    transform: translateX(100%);
    height: 1.823vw;
  }
}

@keyframes shrinking {
  0% {
    height: 1.563vw;
  }
  20% {
    height: 2.083vw;
  }
  80% {
    height: 1.302vw;
  }
  100% {
    height: 1.51vw;
  }
}
